<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport
	content="width=device-width,initial-scale=1,shrink-to-fit=no">

<link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/notiphyapp/docs@latest/content/static/app/notiphy/bg-x-icon-y-b.png" />

<title><%=APP_TITLE %></title>

<% if(CDN_DEBUG){ %>
	<meta name=report content="<%=CDN_DEBUG %>">
<% } else { %>
	<link rel=stylesheet
		href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
	
	<!-- // preload  css and js -->
	<link href="<%=CDN_URL %>/app-www.js?_=<%=CDN_VERSION %>" rel=preload
		as=script>
	<link href="<%=CDN_URL %>/css/chunk-common.css?_=<%=CDN_VERSION %>"
		rel=preload as=style>
	<link href="<%=CDN_URL %>/js/chunk-vendors.js?_=<%=CDN_VERSION %>"
		rel=preload as=script>
	<link href="<%=CDN_URL %>/js/chunk-common.js?_=<%=CDN_VERSION %>"
		rel=preload as=script>
		
	<!-- // load  css -->
	<link
		href="<%=CDN_URL %>/css/chunk-vendors.css?_=<%=CDN_VERSION %>"
		rel=stylesheet>
	<link href="<%=CDN_URL %>/css/chunk-common.css?_=<%=CDN_VERSION %>"
		rel=stylesheet />
<% } %>



<script>
	window.CONST = {
		dev : '<%=CDN_DEBUG %>',
		CDN_URL : '<%=CDN_URL %>', //
		APP : "<%=APP%>",APP_SITE: '<%=APP_SITE%>',APP_CONTEXT : '<%=APP_CONTEXT%>', 
		remoteJsVersion :  '<%=CDN_VERSION %>', //
		CONTEXT: '<%=APP_CONTEXT%>',
		APP_DEPT : null, APP_USER_ROLE : [],
		SESS: '<%-SESS%>'
	};
</script>
</head>
<body>
	<noscript>
		<strong>We're sorry but ArchitectUI doesn't work properly
			without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id=app></div>
	
	<% if(CDN_DEBUG){ %> 
  		<!-- // load  js if debug -->
		<script src="<%=CDN_URL %>/app-www.js?_=<%=CDN_VERSION %>"></script>
	<% } else { %>
  		<!-- // load  js if prod -->
  	  	<script src="<%=CDN_URL %>/js/chunk-vendors.js?_=<%=CDN_VERSION %>"></script>
  	  	<script src="<%=CDN_URL %>/js/chunk-common.js?_=<%=CDN_VERSION %>"></script>
		<script src="<%=CDN_URL %>/app-www.js?_=<%=CDN_VERSION %>"></script>
	<% } %>

</body>

</html>


